.HomeContainer {
    display: flex;
 flex-direction: column;
 justify-content: space-between;
 overflow-x: hidden;
    gap: 8px;
    overflow-y: auto;

}

.GridItem {
    background-color: rgba(241, 241, 241, 0.308);
}



