<div id="FooterCont" >
    <button target="_blank" href="https://github.com/shlomtzionm">
        <img class="Logo" src="./assets/github.png" alt="github">

    </button>
    <button target="_blank" href="https://www.linkedin.com/in/shlomtzion-mendlovich/">
        <img class="Logo" src="./assets/linkedin.png" alt="linkedin">

    </button>
 
    <button (click)="copyEmailToClipboard()">
        <img class="Logo" src="./assets/email.png" alt="email">

    </button>
    <button (click)="copyPhoneNumToClipboard()">
        <img class="Logo" src="./assets/whatsapp.png" alt="whatsapp">

    </button>
</div>
