.AboutMeCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.Text {
  position: relative;
  color: rgba(241, 241, 241, 0.308);
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  border-bottom: 3px solid rgb(239, 189, 65);
  font-weight: 500;
  font-size: x-large;
}

.Text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: rgb(68, 46, 46);
  overflow: hidden;
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    width: 0;
  }
  25% {
    width: 50%; /* Gradually increase width */
  }
  50% {
    width: 75%; /* Reach full width smoothly */
  }
  75%{
    width: 90%; /* Reach full width smoothly */

  }
  90% {
    width: 100%; /* Hold at full width for a while */
  }
  100% {
    width: 0; /* Smoothly reset to 0 */
  }
}


.Text2 {
  width: 80%;
  height: auto; /* Ensure the text box grows with content */
  font-size: 16px;
  line-height: 1.5;
  border: none;
  resize: none;
  white-space: pre-wrap;
  text-align: left;
}

@media screen and (max-width:550px) {
  .Text {
    font-weight: 300;
    font-size: medium;
  }
  .Text::before {
    font-weight: 300;
    font-size: medium;
  }
  .Text2 {
    font-size: 12px;
    line-height: 1.2;
  }
}
