<div class="AboutMeCont">
  <div class="Text" data-text="Hi, my name is Shlomtzion.">Hi, my name is Shlomtzion.</div>
  <p
    wrap="hard"
    class="Text2"
    data-text="I am a passionate and dedicated Junior Full Stack Developer with a strong foundation in building modern, responsive, and user-friendly web applications. Skilled in both front-end and back-end development, I enjoy creating intuitive user experiences while delivering reliable and efficient functionality behind the scenes. My expertise includes technologies like TypeScript, React, Node.js, Express, MongoDB, and MySQL. I also have experience with AWS for cloud hosting and deployment, as well as Docker for containerizing applications, ensuring seamless deployment and scalability."
  >
    I am a passionate and dedicated Junior Full Stack Developer with a strong foundation in building modern, responsive, and user-friendly web applications. Skilled in both front-end and back-end
    development, I enjoy creating intuitive user experiences while delivering reliable and efficient functionality behind the scenes. My expertise includes technologies like TypeScript, React,
    Node.js, Express, MongoDB, and MySQL. I also have experience with AWS for cloud hosting and deployment, as well as Docker for containerizing applications, ensuring seamless deployment and
    scalability.
  </p>
  <p
    wrap="hard"
    class="Text2"
    data-text="I have further honed my skills through courses at John Bryce Academy and additional Udemy courses, where I’ve learned advanced techniques and new tools. I am always eager to learn and explore new frameworks. I thrive on solving challenges and turning creative ideas into reality through clean, maintainable code."
  >
    I have further honed my skills through courses at John Bryce Academy and additional Udemy courses, where I’ve learned advanced techniques and new tools. I am always eager to learn and explore new
    frameworks. I thrive on solving challenges and turning creative ideas into reality through clean, maintainable code.
  </p>
  <p
    wrap="hard"
    class="Text2"
    data-text="
Together, we can build something remarkable!
"
  >
    Together, we can build something remarkable!
  </p>
</div>
