<div class="projectsCont">
  <div class="Header" data-text="Latest projects">Latest projects</div>
  <div class="videoCont">
    <video autoplay loop muted>
      <source src="assets/vacations.mp4" type="video/mp4" />
    </video>
    <p>
      MEAN Stack Project: I developed a VacationModel in a full-stack project, integrating MySQL with the backend to manage vacation data for users. The project included implementing authentication
      and authorization to secure user data and ensure proper access control. One challenge I faced was ensuring that vacation cards displayed correctly after actions like "liking" or navigating
      between pages. I am very proud to have successfully resolved this issue, delivering a seamless and secure user experience.
    </p>
  </div>

  <div class="videoCont Right">
    <video autoplay loop muted>
      <source src="assets/financal.mp4" type="video/mp4" />
    </video>
    <p>
      MERN Stack Project: In this project, I focused on integrating Angular as the frontend framework, marking my first experience with this powerful tool. The application manages all the data and
      calculates financial savings per month. Throughout the process, I gained a deep understanding of NgRX and its advanced features, while thoroughly enjoying the opportunity to learn and grow with
      new technologies.
    </p>
  </div>

  <div class="videoCont">
    <video autoplay loop muted>
      <source src="assets/socket.io.mp4" type="video/mp4" />
    </video>
    <p>
      Socket.IO Project: While studying at John Bryce Academy, I explored the potential of Socket.IO, a technology full of opportunities for real-time communication. As part of our learning, we built
      a fully functional chat application that enabled instant message exchange between users. This project involved implementing real-time communication, managing socket events, and ensuring a smooth
      and responsive user experience. It gave me valuable hands-on experience with WebSockets, event-driven architecture, and building interactive applications
    </p>
  </div>

  <div class="videoCont Right">
    <video autoplay loop muted>
      <source src="assets/images.mp4" type="video/mp4" />
    </video>
    <p>
      AI Image Generator: I’m particularly passionate about this project because it allowed me to create something entirely new—images that didn’t exist before. Using AI, I was able to generate unique
      visuals from text prompts, exploring the fascinating capabilities of machine learning. Additionally, I deployed the project to an AWS S3 bucket, ensuring efficient storage and accessibility of
      the generated images. It was an exciting experience that combined creativity and technology in a truly innovative way.
    </p>
  </div>
</div>
