<!-- 

  
  <div class="tableContainer">
    <table class="table table-striped myTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <!-- <td><app-action-menu [updateTransaction]="updateTransaction" [deleteTransaction]="deleteTransaction" [transaction]="t"></app-action-menu></td> -->
        </tr>
      </tbody>
    </table>
  </div>
   -->