.RoutingCont{
  width: 1140px;
  max-width: 90%;
  height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: auto;
}
a{
    text-decoration: none;
  color: #555;
  margin-left: 30px;
    
}

a:hover{
  text-decoration: none;
border-bottom: 3px solid rgb(255, 223, 127);
  
}