.RoutingCont{
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
}
a{
    text-decoration: none;
  color: black;
    
}

a:hover{
  text-decoration: none;
border-bottom: 3px solid rgb(255, 223, 127);
  
}